<div class="row">
    {% for state, qty in orderAmountPerState %}
        {% set level = get_order_state_level(state) %}
        {% set icon = get_order_state_icon(state) %}
        <div class="col-md-2">
            <div class="alert alert-{{ level }}">
                <h4>
                    <i class="fa fa-{{ icon }}"></i>
                    {{ state }}
                </h4>
                {{ qty }}
            </div>
        </div>
    {% endfor %}
</div>