.btn-default {
  color: #444;
  background-color: #f4f4f4;
  border-color: #ddd;

  &:hover {
    background-color: #e7e7e7;
  }
}
.btn-icon {
  position: relative;
  padding-left: 3.2em;
  height: 2.5em;

  i {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.13);
    width: 2.5em;

  }
  i:before {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
