<div class="info-box" :class="['bg-'+widget.settings.color]">
    <span class="info-box-icon">
        <i class="fa" :class="['fa-'+widget.settings.icon]"></i>
    </span>
    <div class="info-box-content">
        <span class="info-box-text">{{ title }}</span>
        <span class="info-box-number" v-if="currentData != null">{{ currentData }}</span>

        <div class="progress">
            <div class="progress-bar" :style="{'width': progress+'%'}"></div>
        </div>
          <span class="progress-description">
            {{ progress }}%
          </span>
    </div>
</div>