{% extends 'RawAdminBundle:Admin:base.html.twig' %}

{% block content %}


        <div class="box box-default">
            <div class="box-body">
                <p>
                    Are you sure you want to delete this entity?
                </p>
                {{ form(form) }}
            </div>
        </div>



{% endblock %}